header {
  height:40vh;
  background-size:cover;
  background-image: url("./static/header.jpg");
}

.hidden-spacer {
  height: 56px
}

body {
  color: azure;
  background-color: #000000;
  /*background-image: linear-gradient(135deg, #444040 0%, #000000 100%);*/
}

a {
  color: azure;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  color: white;
  background-color: #282c34;
}

.logo-background {
  height: 5rem;
  background-color: azure;
}

select {
  background-color: black;
  margin: 0.35rem;
  width: 25rem;
  border-radius: 3px;
}

button {
  background-color: black;
  margin: 0.35rem;
  border-radius: 3px;
  border-color: chartreuse;
  width: max-content;
}

.App {
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
